@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap');

html,body{
  margin: 0;
  padding: 0;
}

*{
  font-family: exo,sans-serif;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  background: rgb(145,15,204);
  background: -moz-linear-gradient(12deg, rgba(145,15,204,1) 0%, rgba(158,27,184,1) 11%, rgba(255,34,206,1) 100%);
  background: -webkit-linear-gradient(8deg, rgba(145,15,204,1) 0%, rgba(158,27,184,1) 11%, rgba(255,34,206,1) 100%);
  background: linear-gradient(8deg, rgba(145,15,204,1) 0%, rgba(158,27,184,1) 11%, rgba(255,34,206,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#910fcc",endColorstr="#ff22ce",GradientType=1);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
}

.primary-button:hover {
  background: rgb(145,15,204);
  background: linear-gradient(350deg, rgba(145,15,204,1) 0%, rgba(158,27,184,1) 32%, rgba(255,34,206,1) 100%);

}

body{
  text-align: center;
}

/* ______________navbar____________________ */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: #a7139a;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

nav .nav-button:disabled {
  background-color: rgb(181, 180, 180);
  color: #500349;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .logo-container .logo {
  width: 100%;
}


/*-------- Home page --------*/
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0) 100%
  )
}


/*-------- Auth Modal --------*/
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
}